@use "./variables.scss" as *;
@use "./SCSS/index";
*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	width: 100vw;
	height: 100vh;
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
	font-family: $GoogleFont;
}
img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}
input,
button,
textarea,
select {
	font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}
#app {
	width: 100vw;
	height: 100%;
}

.button-opacity {
	background-color: transparent;
	border: none;
	color: $Dark-Grayish-Blue;
	font-size: 20px;
	&:hover {
		color: $Very-Dark-Grayish-Blue;
		cursor: pointer;
	}
}
.button-opacity.active {
	color: $Bright-Blue;
}
// Mobile container utility class:
.container {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}

/* xs */
@media (min-width: 475px) {
	.container {
		max-width: 475px;
	}
}

/* sm */
@media (min-width: 640px) {
	.container {
		max-width: 640px;
	}
}

/* md */
@media (min-width: 768px) {
	.container {
		max-width: 768px;
	}
}

/* lg */
@media (min-width: 1024px) {
	.container {
		max-width: 1024px;
	}
}

/* xl */
@media (min-width: 1280px) {
	.container {
		max-width: 1280px;
	}
}

/* 2xl */
@media (min-width: 1536px) {
	.container {
		max-width: 1536px;
	}
}
