@use "../variables.scss" as *;

.task-done-btn.task-completed {
	background: rgb(87, 221, 255);
	background: linear-gradient(
		90deg,
		rgba(87, 221, 255, 1) 0%,
		rgba(192, 88, 243, 1) 100%
	);
	img {
		margin: 0 auto;
		opacity: 1;
	}
}
.task-name.task-completed {
	color: $Dark-Grayish-Blue !important;
	text-decoration: line-through;
}
