@use "../variables.scss" as *;

.app-container {
	left: 50%;
	margin: 0 auto;
	position: absolute;
	top: 6%;
	transform: translateX(-50%);
	width: 325px;
	.logo-color {
		@include displayBetween();
		span {
			box-shadow: $BoxShadow;
			color: $Very-Light-Gray;
			font-size: 28px;
			font-weight: bold;
		}
		.dark-mode-icon {
			cursor: pointer;
		}
	}
	.search {
		margin: 1rem auto;
		position: relative;
		input {
			border: none;
			border-radius: $BorderRadius;
			padding: 12px 55px;
			width: 100%;
		}
		.add-btn {
			margin: 0 1rem;
			left: 0;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			transition: scale 0.2s ease-in-out;
			&:active {
				box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
				scale: 0.9;
			}
		}
	}
	.tasks-container {
		background-color: $Very-Light-Gray;
		border-radius: $BorderRadius;
		box-shadow: $BoxShadow;
		font-size: $FontSize;
		.tasks-list {
			.list-item {
				.task {
					.task-done {
						&-btn {
							img {
								opacity: 0;
							}
						}
					}
				}
			}
		}
		.tasks-counter {
			@include displayBetween();
			color: $Dark-Grayish-Blue;
			padding: 0.85rem;
			.items-left {
				@include displayBetween();
				gap: 0.5rem;
			}
		}
	}
	.buttons-container {
		background-color: $Very-Light-Gray;
		box-shadow: $BoxShadow;
		border-radius: $BorderRadius;
		margin: 1rem auto;
		padding: 1rem;
		text-align: center;
		.button-opacity {
			margin-right: 1rem;
			transition: 0.05s ease-in;
		}
	}
	.drag-text {
		color: $Dark-Grayish-Blue;
		text-align: center;
		font-size: $FontSize;
		padding: 1rem 0;
	}
}
.button-opacity.button-active {
	color: $Bright-Blue;
	font-weight: bold;
}
@media (min-width: 475px) {
	.app-container {
		width: 450px;
	}
}
/* sm */
@media (min-width: 640px) {
	.app-container {
		width: 550px;
		top: 10%;
	}
}
